.cont {
  margin-top: 40px;
}
.cat {
  display: flex;
  justify-content: center;
}
.mine {
  display: flex;
  justify-content: center;
}
.buttonContainer {
  display: flex;
  justify-content: space-around;
}
.Tax {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

@media (max-width: 490px) {
  .buttonContainer {
    display: grid;
  }
  .btn {
    margin-bottom: 10px;
  }
}
